/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --ff:'Archivo Black', sans-serif;

    /* colors */
    --bg-color-primary: #f067e583;
    --bg-color-secondary: #5C44B6; 
    --ff-color: #25165a;
}

html, body {
    margin: 0;
    padding: 0;
    font-family:var(--ff);
    background-color: #D6D6E7;
    color: var(--ff-color);
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    padding: 15%;
    border-radius: 8px;

}

img {
    width: 150px;
    margin: 0 auto;
}



input {
    color: var(--bg-color-secondary);
    background-color: #fdf6f073;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: var(--ff);
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: var(--bg-color-secondary);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: var(--ff);

    /* styles */

  align-items: center;
  appearance: none;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
}

button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    filter: invert(25%);
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

/* button:hover {
    background-color: #432000;
    cursor: pointer;
} */

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: var(--bg-color-primary);
    color: var(--bg-color-secondary);
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

ul li:hover {
    background-color: var(--bg-color-primary);
    color: var(--bg-color-secondary);
    filter:invert(25%);
    cursor: pointer;

}